.Project {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
    width: 100%;
    min-width: 250px;
    padding: 5px;
    border: 1px solid black;
    box-shadow: 0px 3px 15px rgba(0,0,0, 0.1);
    border-radius: 2%;
}

.Project_photo {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: none;
    width: 100%;
}

.Project_image {
    height: 250px;
    border-radius: 2%;
}

.Project_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.Project_title {
    margin: 5px;
}

.Project_desc {
    margin: 0px;
}

.Project_links  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: smaller;
    text-align: center;
}

.Project_link_option {
    margin: 5px;
}

.Project_skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 5px;
    text-align: center;
    max-width: 220px;
}

.Project_skill_option {
    font-size: smaller;
    padding: 2.5px;
    margin: 2.5px;
    border: 1px solid black;
    border-radius: 4px;
}